@import '../../assets/scss/variables';

.footer {
	background-color: map-get($colors, 'black');
	padding: 28px 0;

	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.wpp {
			max-height: 27px;
		}

		.social-media {
			display: flex;

			.item {
				margin-right: 17px;

				&:last-of-type {
					margin-right: 0;
				}

				img {
					width: 32px;
				}
			}
		}
	}
}
