@import '../../assets/scss/variables';

.contact {
	background-color: map-get($colors, 'secondary');
	text-align: center;
	padding: 136px 0;

	.title {
		color: map-get($colors, 'white');
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		margin: 0 auto;
		margin-bottom: 32px;
		max-width: 676px;
		text-transform: uppercase;
	}

	.text {
		color: map-get($colors, 'white');
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 8px;
	}

	.email {
		color: map-get($colors, 'white');
		font-size: 32px;
		font-weight: 500;
		line-height: 24px;
	}
}
